.navbar-underline {
  border-bottom: 4px solid rgb(0, 160, 160);
  /* เส้นใต้สีแดง */
}

.footer {
  background-color: white;
  /* สีพื้นขาว */
  /* คุณสามารถปรับแต่งสีพื้นและสไตล์อื่น ๆ ตามต้องการ */
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.custom-card-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  padding-top: 5rem;
  background-color: #eff1f0;
  padding-bottom: 5rem;
}
