.navbar-underline {
  border-bottom: 5px solid rgb(230, 16, 16);
  /* เส้นใต้สีแดง */
}

.footer {
  background-color: white;
  /* สีพื้นขาว */
  /* คุณสามารถปรับแต่งสีพื้นและสไตล์อื่น ๆ ตามต้องการ */
}

body {
  padding-top: 5rem;
  background-color: #eff1f0;
}